*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lugrasimo', cursive;

}
.container{
    height: 90vh;
    width: 100%;
    position: relative;
   background: url('https://img.freepik.com/free-photo/web-design_53876-167070.jpg?size=626&ext=jpg&ga=GA1.1.1815227660.1688880955&semt=ais');
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
    font-size: 40px;
    font-weight: 5px;
    color: blue;

}
.navbar{
    display: flex;
    width: 90%;
    margin-left: 8%;
    top: 8%;
    justify-content: space-between;
    align-items: center;
}
ul li{
    display: inline;
    padding: 25px;
    font-weight: bolder;
    font-size: 20px;
}
ul li a{
    color: rgb(242, 237, 237);
    text-decoration: none;
  
}
ul li a:hover{
    color: red;
}
.content{
    position: absolute;
    color: black;
    text-align: left;
    top: 40%;
    left:9% ;
}
h2{
font-size: 30px;
}
h2 span{
    color: rgb(235, 16, 126);
}
.title{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid;
    font-weight: bold;
    display: inline-block;
    padding: 13px 30px;
    border-radius: 30px;
    margin-top: 6%;
 
}
.title:hover{
    background-color:transparent;
    cursor: pointer;
    color: black;
}

.content p{
    text-align: justify;
    margin-top: 20px;
}
#about{
 margin: 40% 8% 0px 8%;
}
.about-head{
    margin: 30% 0px 0px 50%;
}
.about-head>span{
    color: green;
}
.about p{
    padding-top: 25px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 1rem;
}
.about-p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
.about-img img{
    width: 70%;
}
 .details{
    margin: 1rem;
 }
 .info{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
 }
 .info span{
    margin-left: 1rem;

}
.service{
    width: 100%;
    padding: 100px 0px;
}
.srvc-head{
    margin: 30px ;
    font-size: 75px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 21%;
    border: 1px solid;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    background-color: bisque;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: chocolate;
}
h5{
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
}
.card .button{
    background-color:transparent;
    color: black;
    text-decoration: none;
    border: 2px solid;
    font-weight: bold;
    display: inline-block;
    padding: 13px 30px;
    border-radius: 30px;
    margin-top: 6%;
}
.card .button:hover{
    cursor: pointer;
    background-color: rgb(76, 32, 32);
    color: white;
}
#contact{
    text-align: center;
    margin-top: 6%;
}
.icon-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.icon i{
    font-size: 30px;
    padding-left: 18px;
    color: rgb(80, 12, 26);
    margin-bottom: 28%;
}

.icon:hover i{
    color: rgb(36, 25, 136);
    animation: shake 0.75s;
}
#check{
    display: none;
}
@media(max-width:700px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .container{
        height: 70vh;
        width: 100%;
    }
    .navbar h1{
      align-content: center;
    }
    #about{
        margin: 70% 8% 0px 8%;
       }
       .about-img img{
        width: 150%;
       }
       .about-content{
       
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin-top: 1rem;
        justify-content: space-between;
       }
       
        
 .box{
   flex-wrap: wrap;
   display: block;
   width: 170%;
 }
 .card{
    height: 395px;
    width: 26%;
    margin: 3% 18%;
    padding: 3px 15px;
 }
 .navbar ul li a{
    font-size:16px ;
   }
    a:hover{
        color: darkturquoise;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
       
        width: 100%;
        height: 20vh;
        background: rgb(221, 65, 21);
        top: 40px;
        left: -100%;
        text-align: center;
    }
    .navbar ul li{
        display: inline-block;
        margin: 40px 0;
        line-height:30px ;
    }
    
  #check:checked~ul{
    left: 0;
  }


 }
